name: Pipelines

on:
  push:
    branches: ["main", "feature/**"]

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: '20'

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint:dry || exit 1

      - name: TSC
        run: pnpm tsc || exit 1

  build:
    needs: static-analysis
    runs-on: ubuntu-latest

    steps:
      - name: pnpm install
        run: pnpm install

      - name: pnpm build
        run: pnpm build
